
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
/*font-family: 'Nunito', sans-serif;
background: #fae17f;
background: #FFCB05;*/
html{
    background: #68b0ab
}
.logo{
    width: 170px;
    margin: 20px 20px 20px 0px;
}
.logo2{
    width: 55px;
    margin: 20px 20px 20px 20px;
}
.a{
    font-family: 'Nunito', sans-serif;
    margin: 10px 65px 10px 65px;
    font-size: 21px;

    line-height: 1; 
    color: #ff7e67;
    transition: 0.3s;
    text-align: center;
}
h4{
    font-family: 'Nunito', sans-serif;
    color: #006a71;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    font-weight: 700;
}
p{
    font-family: 'Nunito', sans-serif;
}
.pcard{
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
}
a:hover{
    color: #d7513a;
    text-decoration: none;
}
.uk-navbar-center{
    margin-left: 40px;
    font-weight: 700;
}
.uk-navbar-container:not(.uk-navbar-transparent){
    background: #006a71;
}
.uk-width-1-5{
    background: #ff7e67;
    width: 250px;
}
.uk-button{
    color:#006a71;
    background-color: #ff7e67;
    font-family: 'Nunito', sans-serif;
    width: 250px;
    height: 90px;
    font-size: 19px;
    padding: 7px;
    padding-bottom: 15px;
    border: solid 3px #006a71;
    border-bottom: 0px;
}
.uk-background-secondary{
    font-family: 'Nunito', sans-serif;
    text-align: left;
    color: white;
    border-radius: 7%;

}
.mainSection{
    display: flex;
}

.uk-card-title{
    font-family: 'Nunito', sans-serif;
    color: #0c8c95;
    font-weight: 700;
    text-align: center;
}
.pok{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uk-card-title2{
    font-family: 'Nunito', sans-serif;
    color: rgb(69, 69, 69);
    font-weight: 700;
    text-align: center;
    font-size: 37px;
    margin-bottom: 40px;
}
.uk-card{
    background-color: rgb(69, 69, 69);
    margin: 20px;
    width: 250px;
    height: 370px;
    border-radius: 7%;
}
.flex{
    display: flex;
    justify-content: space-between;
}
#cardContainer{
    margin-left: 5px;
    margin-top: 35px;
}
.imgcard{
    height: 170px;
}
.addcont{
    background-color: rgb(69, 69, 69);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addp{
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    margin-top: 0;
}
.pokp{
    color: rgb(69, 69, 69);
    font-size: 18px;
    text-align: center;
}
.pokedex{
    margin-top: 80px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgp{
    width: 170px;
}
.ppok{
    margin-top: -8px;
    font-size: 22px;
}
.border{
    border-bottom: solid 3px #006a71;
}
.tenses{
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    color: rgb(69, 69, 69);
}
.row{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}
.column{
    display: flex;
    flex-direction: column;
    margin: 0 60px;
}
.lvl{
    font-size: 35px;
    font-weight: 700;
    color: white;
    margin: 20px;
    margin-bottom: 15px;
}
.lvl:hover{
    color:rgb(188, 193, 198);
}
.lvl2{
    font-size: 35px;
    font-weight: 700;
    color: #e16650;
    margin: 20px;
    margin-bottom: 15px;
}
.lvl2:hover{
    color:#d14a32;
}
.uk-card-title3{
    margin-top: -10px;
    font-size: 32px;
    margin-bottom: -10px;
}
.uk-card-title4{
    font-family: 'Nunito', sans-serif;
    color: rgb(69, 69, 69);
    font-weight: 700;
    text-align: center;
    font-size: 29px;
    margin-bottom: -5px;
}
.uk-card-title6{
    font-family: 'Nunito', sans-serif;
    color: rgb(69, 69, 69);
    font-weight: 700;
    text-align: center;
    font-size: 31px;
    margin-top: 0px;
    margin-bottom: -5px;
}
.img{
    width: 220px;
    border-radius: 7%;
}
.img1{
    width: 720px;
    transition: 0.6s;
}
.img1:hover{
    transform: scale(1.06);
}
.cart{
    margin-top: 40px;
    margin-right: 70px;
    margin-left: 70px;
}
.topic{
    font-size: 25px;
    color: rgb(69, 69, 69);
    margin-top: 30px;
}
.text{
    font-size: 20px;
    color: rgb(69, 69, 69);
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}